body {
	/*background: url(https://upload.wikimedia.org/wikipedia/en/3/3d/MountainAshFloor.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background: orange;*/
}

h1 {
	/*color: rgb(50,50,150);
	border-color: purple;
	border-width: 5px;
	border-style: solid;

	border: 8px dashed rgba(50,50,150,.2);*/
}

h4 {
	color: #AA33FF;
	background: rgb(255, 100, 80);
}

/*li {
	color: rgba(50,50,150,.8);
	background: yellow;
}*/

/*ID selector*/
#wats {
	background: white;
}

/*Class selector*/
.completed {
	text-decoration: line-through;
}

/*select all*/
* {
	border:1px solid lightgrey;
}

/*Descendent*/
li a {
	color: red;
}

/*adjacent selector*/
h4 + ul{
	border: 4px solid blue;
}

/*Attribute selector*/
a[href="http://www.google.com"] {
	background: blue;
}

/*nth of a type*/
li:nth-of-type(2){
	background: purple;
}


















